:root {
  --color-light: lightgray;
  --color-dark: darkgray;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: var(--color-dark);
  margin: 20px;
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: scale(1);
}

@keyframes loading {
  0% {
    background: var(--color-dark);
    transform: scale(1);
  }

  50% {
    background: var(--color-light);
    transform: scale(1.1);
  }
  100% {
    background: var(--color-dark);
    transform: scale(1);
  }
}
