:root {
  --flag--height: 350px;
  --red: red;
  --white: white;
}

body {
  margin: 0;
  padding: 0;
}

.flag {
  height: var(--flag--height);
  width: calc(var(--flag--height) * 3 / 2);
  border: 1px solid #999;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  box-shadow: 5px 5px;
}

.circle {
  height: calc(var(--flag--height) * 3 / 5);
  width: calc(var(--flag--height) * 3 / 5);
  border-radius: 50%;
  background: var(--red);
}
