html, body { 
    margin: 0;
    padding: 0;
}

:root {
    --stage-1: 25%;
    --stage-2: 50%;
    --stage-3: 75%;
    --stage-4: 100%;
    --progbar-bg: lightgray;
    --stage-1-bg: red;
    --stage-2-bg: orangered;
    --stage-3-bg: greenyellow;
    --stage-4-bg: green;
}

.pr